body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
  margin: 0px auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (max-width: 1200px) {
  .section-title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
  }
}

h3 {
  margin: 0;
}

.logo {
  font-family: Raleway,  sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #212121;
}

.logo-header-firstpart {
  color: #2196F3;
}

.logo-footer {
  color: #FFFFFF;
}

.logo-footer-firstpart {
  color: #2196F3;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;
}

@media (max-width: 768px) {
  .header {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.menu-button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 13px 8px;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
}

@media (max-width: 768px) {
  .menu-container {
    position: absolute;
    height: 393px;
    top: 61px;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.menu-container.is-open {
  display: block;
}

@media (min-width: 768px) {
  .menu-container.is-open {
    display: flex;
  }
}

.pages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media (max-width: 768px) {
  .pages-list {
    font-size: 18px;
    margin: 40px 0 32px 0;
  }
}

@media (min-width: 768px) {
  .pages-list {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .pages-list {
    margin-left: 93px;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .pages-etem:not(:last-child) {
    margin-right: 50px;
  }
}

.pages-link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages-link:hover, .pages-link:focus {
  color: #2196F3;
}

@media (max-width: 768px) {
  .pages-link {
    display: inline-block;
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  .pages-link {
    display: inline;
    padding: 32px 0;
  }
}

.pages-link-current {
  position: relative;
  color: #2196F3;
}

@media (max-width: 768px) {
  .pages-link-current {
    padding-bottom: 28px;
  }
}

.pages-link-current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196F3;
}

@media (max-width: 768px) {
  .pages-link-current::after {
    bottom: 16px;
  }
}

@media (min-width: 768px) {
  .pages-link-current::after {
    bottom: 0;
  }
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media (max-width: 768px) {
  .contacts-list {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .contacts-list {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contacts-list {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .contacts-etem:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-link {
  display: inline-block;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196F3;
}

@media (max-width: 768px) {
  .contacts-link {
    padding: 8px 0;
  }
}

@media (min-width: 768px) {
  .contacts-link {
    padding: 5px 0;
  }
}

@media (min-width: 1200px) {
  .contacts-link {
    display: flex;
    padding: 30px 0;
  }
}

.contacts-svg-email {
  margin-right: 10px;
  fill: currentcolor;
}

.contacts-svg-phone {
  margin-right: 10px;
  fill: currentcolor;
}

@media (max-width: 768px) {
  .contacts-svg-email {
    width: 16px;
    height: 11px;
  }
  .contacts-svg-phone {
    width: 10px;
    height: 15px;
  }
}

@media (min-width: 768px) {
  .contacts-svg-email {
    width: 14px;
    height: 10px;
  }
  .contacts-svg-phone {
    width: 10px;
    height: 14px;
  }
}

@media (min-width: 1200px) {
  .contacts-svg-email {
    width: 16px;
    height: 12px;
  }
  .contacts-svg-phone {
    width: 12px;
    height: 16px;
  }
}

.head {
  text-align: center;
  background: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgrd-inhead.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1200px) {
  .head {
    max-height: 400px;
    padding: 118px 15px;
  }
}

@media (min-width: 1200px) {
  .head {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 15px;
  }
}

.main-title {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .main-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.modul-butoon {
  font-family: inherit;
  color: #FFFFFF;
  background: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

@media (max-width: 1200px) {
  .advantages {
    padding: 60px 0;
  }
}

@media (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
  }
}

@media (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 768px) {
  .advantages-etem {
    width: calc((100% - 4 * 15px)/2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .advantages-etem {
    width: calc((100% - 8 * 15px)/4);
  }
}

.advantages-etem::before {
  margin-bottom: 30px;
  display: block;
  height: 120px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.advantages-etem:nth-child(1)::before {
  background-image: url(../images/icon/antenna.svg);
}

.advantages-etem:nth-child(2)::before {
  background-image: url(../images/icon/clock.svg);
}

.advantages-etem:nth-child(3)::before {
  background-image: url(../images/icon/diagram.svg);
}

.advantages-etem:nth-child(4)::before {
  background-image: url(../images/icon/astronaut.svg);
}

.advantages-etem-discription {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.advantages-etem-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .advantages-etem-title {
    text-align: center;
  }
}

.example {
  padding: 94px 15px;
}

@media (max-width: 1200px) {
  .example {
    display: none;
  }
}

.example-list {
  display: flex;
}

.example-item {
  position: relative;
}

.example-item:not(:last-child) {
  margin-right: 30px;
}

.example-item-discription {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: #2F303A;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

@media (max-width: 1200px) {
  .team {
    padding: 60px 15px;
  }
}

@media (min-width: 1200px) {
  .team {
    padding: 94px 15px;
  }
}

@media (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-etem {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #e0dfdf;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .team-etem {
    width: calc((100% - 4 * 15px)/2);
    margin: 15px;
  }
}

.person {
  padding: 30px 10px;
  text-align: center;
}

.person-name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.person-duty {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.person-list {
  display: flex;
  justify-content: center;
}

.person-links {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-links:not(:last-child) {
  margin-right: 10px;
}

.person-links:hover {
  background-color: #2196F3;
}

.person-svg {
  height: 44px;
  padding: 12px 12px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-svg:hover {
  height: 44px;
  padding: 12px 12px;
  fill: #FFFFFF;
}

@media (max-width: 1200px) {
  .clients {
    padding: 60px 15px;
  }
}

@media (min-width: 1200px) {
  .clients {
    padding: 94px 15px;
  }
}

.clients-list {
  display: flex;
}

@media (max-width: 768px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 768px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 1200px) {
  .clients-list {
    justify-content: space-between;
    margin: 0;
  }
}

.clients-etem {
  height: 90px;
}

@media (max-width: 768px) {
  .clients-etem {
    width: calc((100% - 4 * 15px )/2);
    margin: 15px;
  }
}

@media (min-width: 768px) {
  .clients-etem {
    width: calc((100% - 6 * 15px )/3);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .clients-etem {
    width: 170px;
    margin: 0;
  }
}

.clients-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.clients-svg {
  width: 20%;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */