.head {
    text-align: center;
    background: $backgrd-black;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), 
    url(../images/backgrd-inhead.jpg);
    background-position: center;
    background-size: cover;
    @media (max-width: $desktop) {
        max-height: 400px;
        padding: 118px 15px; 
    }
    @media (min-width: $desktop) {
        max-width: 1600px;
        max-height: 600px;
        padding: 200px 15px; 
    }
}
// .head { 
//     margin: 0 auto;

//     @media (max-width:767px) {
//         max-height: 400px;
//         background-size: cover;
//         padding: 118px 15px; 
//     }
//     @media (min-width:768px) {
//         max-width: 768px;
//         max-height: 400px;
//         padding: 118px 15px; 
//     }
//     @media (min-width:1200px) {
//         max-width: 1600px;
//         max-height: 600px;
//         padding: 200px 15px; 
//     }


//     background-repeat: no-repeat;
//     background-size: cover;
//     text-align: center;
// }
// .main-title {

//     @media (max-width:767px) {
//         font-size: 26px;
//         line-height: 1.6;
//     }
//     @media (min-width:768px) {
//         height: 80px;
//     }
//     @media (min-width:1200px) {
//         font-size: 44px;
//         line-height: 1.4;
//     }
// }
.main-title {
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-white;
    margin-top: 0;
    @media (max-width: $desktop) {
        font-size: 26px;
        line-height: 1.62;
    }
    @media (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}
.modul-butoon {
    font-family: inherit;
    color: $main-white;
    background: $main-blue;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    letter-spacing: 0.06em;

}

