.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 50px;
    background: $backgrd-black;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), 
    url(../images/backgrd-inhead.jpg);
    background-position: center;
    background-size: cover;

    letter-spacing: 0.06em;

    @media (max-width: $tablet) {
      height: 300px;
    }
}

.modul-butoon {
  padding: 20px;

  font-family: inherit;
  color: $main-white;
  background: $main-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}

